app-vehicle-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.5rem 0.8rem;
}

mat-paginator {
  background-color: #252525;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
@media (max-width: 700px) {
  app-vehicle-card {
    grid-template-columns: unset;
  }
}
